table, th, td {
    border: 0.5px solid;
  }
  .container {
    position: relative;
    margin: 0;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  body{
    font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Kanit', sans-serif;
  }
  h1 a{
    color:8FE3CF;

  }